@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

// variables

$margin-medium: 20px;
$white-text: #ECF0F1;
$main-blue: #3C4A59;


// bootstrap overrides

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
}

button.list-group-item:focus {
  outline:0;
}

input[type=radio] {
  margin: 0 4px;
}

h1, h2, h3, h4, .navbar-brand, .coopcycle-brand {
  font-family: 'Arvo', serif;
}

.navbar-inverse {
  background-color: $main-blue;
  border-color: $main-blue;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: $white-text;
}

.brands img {
  height: 23px;
}

.cart .quantity {
  margin-left: 5px;
}

.close {
  color: #fff;
  text-shadow: none
}

.coopcycle-brand {
  font-size: 12px;
}

.navbar-inverse {
  background-color: $main-blue;
  border-color: $main-blue;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: $white-text;
}

// utils
.margin-bottom-md {
  margin-bottom: $margin-medium;
}

.margin-top-md {
  margin-top: $margin-medium;
}

.text-center {
  text-align: center;
}
