@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

// variables

$margin-small: 10px;
$margin-medium: 20px;

$screen-md-min: 768px;

$white: #fff;
$white-text: #ECF0F1;
$main-blue: #3C4A59;
$main-blue-light: lighten($main-blue, 30%);
$light-gray: #f5f5f5;
$gray: #ddd;

// bootstrap overrides

body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
}

button.list-group-item:focus {
  outline:0;
}

input[type=radio] {
  margin: 0 4px;
}

h1, h2, h3, h4, .navbar-brand, .coopcycle-brand {
  font-family: 'Arvo', serif;
}

.navbar-inverse {
  background-color: $main-blue;
  border-color: $main-blue;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: $white-text;
}

.brands img {
  height: 23px;
}

.close {
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

.coopcycle-brand {
  font-size: 12px;
}

.navbar-inverse {
  background-color: $main-blue;
  border-color: $main-blue;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: $white-text;
}

.breadcrumb {
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: $margin-small;
  }
}

// menu
.list-section-item {

  @media screen and (max-width: $screen-md-min) {
    display: inline-block;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &.active .list-group-item {
    background-color: $main-blue-light;
    color: $white;
    text-decoration: none;
  }

  &.active .list-group-item:last-child {
    margin-bottom: -1px;
  }

}

// cart

$cart-heading-height: 40px;

.cart-heading {
  position: relative;
  height: $cart-heading-height;

  @media screen and (max-width: $screen-md-min) {
    height: $cart-heading-height;
    text-align: center;
    color: $white !important;
    background-color: $main-blue-light !important;
  }
}

.cart-heading--items {
  display: none;

  @media screen and (max-width: $screen-md-min) {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    left: 30px;
    background-color: $main-blue;
  }
}

.cart-heading--total {
  display: none;

  @media screen and (max-width: $screen-md-min) {
    display: block;
    position: absolute;
    right: 40px;
    height: 20px;
    width: 20px;
    padding: 0 5px;
    border-radius: 30px;
    background-color: $main-blue;

    .glyphicon {
      position: relative;
      right: 1px;
    }
  }
}

.cart-wrapper {
  overflow-y: scroll;
  height: 100%;

  @media screen and (max-width: $screen-md-min) {
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;


    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - #{$cart-heading-height}));
    transition: transform 0.4s;

    // hide some bootstrap stuff
    .panel {
      border: none;

      & > .panel-heading {
        border: none;
      }
    }
  }

  .close {
    color: $gray;
    text-shadow: none
  }

  .quantity {
    margin-left: 5px;
  }
}

.cart-wrapper--show {
  @media screen and (max-width: $screen-md-min) {
    transform: translateY(0);
  }
}

// utils
.margin-bottom-md {
  margin-bottom: $margin-medium;
}

.margin-top-md {
  margin-top: $margin-medium;
}

.text-center {
  text-align: center;
}

.list-group-item {
  transition: all 0.4s ease-out;
}

.quantity {
  transition: all 0.4s ease-out;
  &--last {
    color: white;
    transition: all 0.4s ease-out;
  }
}
