<!DOCTYPE html>
<html>
    <head>
      <title>Coopcycle Client Lib Demo</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <p class="text-center">
        <button class="btn btn-success" rel="coopcycle"
          data-base-url="<%= htmlWebpackPlugin.options.API_URL %>"
          data-restaurant-id="1"
          data-stripe-publishable-key="<%= htmlWebpackPlugin.options.STRIPE_PUBLISHABLE_KEY %>"
          data-google-api-key="<%= htmlWebpackPlugin.options.GOOGLE_MAPS_API_KEY %>">
            Commander
        </button>
      </p>
    </body>
</html>
